.container{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    background-color: #000000;
}

header{
    background-color: #000000;
}

.header__menu{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: flex-end;
}

.header__text{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #72727A;

    padding: 10px;

    text-decoration: none;

    transition: 0.3s;
}

.header__text:hover{
    border-radius: 6px;
    background-color: #8E8E98;
    border: 9px 10px 9px 11px;
    color: #000000;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 99px;
    line-height: 112px;

    letter-spacing: 1.12px;

    color: #FFFFFF;

    margin: 0;
}

.textBox{
    display: flex;
    height: 50px;

    width: 483px;

    margin: 16px 0;
    padding: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.375px;
}

.textBox__input{
    text-align: left;
    letter-spacing: 0.375px;
    
    background-color: #8E8E9833;

    color: #FFFFFF;

    border-radius: 8px 0px 0px 8px;

    outline: none;

    border: none;
    border-style: none;

    margin: 0;
    padding: 0;
    padding-left:10px;

    height: 100%;
    width: 100%;
}

.textBox__btn{
    text-decoration: none;
    
    background-color: #47474C;
    color: #FFFFFF;

    border-radius: 0px 8px 8px 0px;

    margin: 0;
    padding: 0;

    height: 100%;
    width:30%;

    border:none;

    cursor:pointer;

    transition: 0.2s;
}

.textBox__btn:active{
    background-color: #6d6d75;
}

.textUnderTB{
    display: flex;
}

.textUnderTB p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    color: #47474C;
}

.textUnderTB a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none;

    color: #8E8E98;
}

.grid-container{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);

    margin-top:75px;
}

.bottomPanel__text{
    grid-row: 1/2;
    grid-column: 2/3;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;

    width:max-content;
    height:max-content;

    justify-self: center;
    align-self: center;

    color: #1C1C1E;

    padding:6px 12px;

    background-color: #8E8E98;
    border-radius: 6px;
}

.bottomPanel__text__ref{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;

    color: rgba(0, 0, 0, 0.65);
}

.message__btn{
    grid-column: 3;
    grid-row: 1/2;

    background-color: #47474C;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);

    padding: 17px;
    margin: 16px;

    width:  min-content;
    height: min-content;

    cursor: pointer;

    transition: 0.2s;

    justify-self: right;
}

.message__btn:active{
    background-color: #6d6d75;
}